* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
$primary: #efefef;
$secondary: #a9a9a9;
$pop: #ff3b3f;
$darker: black;

body {
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  overflow-x: hidden;
  background-image: url("images/cool-background.png");
  background-size: cover;
  background-position: bottom right;
}

header {
  height: 80vh;
}

footer {
  margin-top: 10rem;
  color: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    width: 80%;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    p {
      padding: 1em;
      font-size: 1.2rem;
    }

    a {
      font-size: 2rem;
      color: $secondary;
    }

    .fa-linkedin:hover {
      color: blue;
    }

    .fa-github:hover {
      color: green;
    }

    .fa-instagram:hover {
      color: orange;
    }
  }
}

.nav-bar {
  background-color: transparent;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;

  .open-menu,
  .close-menu,
  h4 {
    color: $darker;
  }

  .open-menu {
    font-size: 3rem;
    display: none;
  }

  .open-menu:hover {
    cursor: pointer;
  }

  .close-menu {
    display: none;
    font-size: 3rem;
  }

  .close-menu:hover {
    cursor: pointer;
  }

  h4 {
    position: relative;
    z-index: 200;
  }

  .links {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
}

.nav-scrolled {
  // transition: background-color 100ms ease-in;
  background-color: white;
}

.btn {
  color: $darker;
  text-decoration: none;
  // border: 2px solid $darker;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.btn:hover {
  background-color: $darker;
  color: $secondary;
}

.hero {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  padding: 5em;

  br {
    display: none;
  }

  .line {
    display: block;
    width: 30%;
    color: $secondary;
  }

  h1 {
    font-size: 5rem;
    margin-top: 15vh;
    text-transform: uppercase;
    color: $pop;
    letter-spacing: 3px;
    // text-shadow: 2px 2px 4px;
    text-align: center;
  }

  .btn {
    border: 4px solid $secondary;
    color: $secondary;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 10px 10px 3px 1px $secondary;
  }

  .btn:hover {
    background-color: $secondary;
    color: $primary;
  }
}

.skills-section {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;

  i {
    color: $darker;
    font-size: 10rem;
  }
}

.card {
  background-color: $secondary;
  border-radius: 10px;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 5px black;
  width: 16rem;

  img {
    max-width: 10rem;
  }
}

main {
  color: $pop;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .nav-bar {
    justify-content: space-between;
    gap: 3rem;

    h4 {
      font-size: 1.5rem;
      padding: 10px;
    }

    .links {
      transition: left 300ms ease-in;
      display: none;
      position: fixed;
      left: -100%;
      top: 0;
      right: 0;
      font-size: 3rem;
      background-color: white;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100vh;
      justify-content: center;
      gap: 5rem;
      z-index: 100;

      .btn {
        font-size: 2.5rem;
        border: none;
        padding: 1.5em 0;
        width: 100vw;
        display: block;
        text-align: center;
        border-radius: 0;
      }
    }

    .close-menu {
      display: none;
      z-index: 200;
      position: absolute;
      top: 35px;
      right: 30px;
    }

    .open-menu {
      display: block;
    }
  }

  .card img {
    width: 12rem;
  }

  .hero {
    .btn {
      box-shadow: 5px 5px 3px 1px $secondary;
    }
  }
}

@media (max-width: 1000px) {
  .hero {
    br {
      display: block;
    }
  }
}
